@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  box-sizing: border-box;
}
#root {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}
